html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.ui-widget-header {
    border: none;
}

.draggable{
    border: none;
    width: 382px; 
    height: 140px; 
    float: left; 
    font-size: .9em;
    background-color: orange;
}

.ui-widget-header p, .ui-widget-content p { 
    margin: 0; 
}

.snaptarget { 
    height: 140px; 
    width: 380px; 
}

.draggable-bg{
    border: none;
    width: 380px; 
    height: 140px; 
    float: left; 
    font-size: .9em;
    background-color: gray;
    position: absolute;
}